@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*https://fontawesome.com/v4/icons/*/

:root{
    --cor1: #401D1D;
    --cor2: #8C7E6D;
    --bg: #ccc1b5;
    --gradient: linear-gradient(to bottom right, #8C7E6D,#401D1D);
    --bold : 600;
    --semi-bold : 500;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--bg);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4{
    font-weight: var(--bold);
    color: var(--cor1);
}

p{
    color: #393A56;
}

.container{
    width: 80%;
    margin: auto;
}

.grid{
    display: grid;
    grid-gap: 1.5rem;
}

.section{
    padding: 60px;
}

.ctn{
    padding: 9px 9px;
    background-color: var(--cor2);
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.ctn:hover, .ctn:hover.ctn a{
    color: var(--cor2);
    background-color: white;
}

.header{
    background-image: url(./imgs/header.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: right center;
}

nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 0;
}

.nav-item:hover a{
    color: var(--cor2);
}

.logo img{
    width: 200px;
}

ul{
    display: flex;
    align-items: center;
    color: white;
}

ul li a{
    color: white;
    margin: 0 20px;
}

.header-content {
    width: 50%;
    margin-top: 100px;
    color: whitesmoke;
}

.header-content h1, .header-content h3{
    color: whitesmoke;
    margin: 10px auto;
}

.header-content h1{
    font-size: 3rem;
}

.header-content p{
    margin-bottom: 30px;
    color: whitesmoke;
}

.title{
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.title h1{
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 10px;
    }

.poem p{
    text-align: center;
    margin: 20px auto;
}

.services {
    background-color: var(--bg);
}

.services-wrapper {
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    padding: 30px;
}

.service{
    background: white;
    padding: 2rem 1rem;
    box-sizing: 2px 2px 2px 2px #00000056;
    border-radius: 5px;
}

.service:hover {
    background: var(--gradient);
}

.service:hover.service p,
.service:hover.service h1,
.service:hover.service .fa {
    color: white;
}

.service .fa{
    font-size: 30px;
    color: var(--cor2);
    margin-bottom: 10px;
}

.service h1{
    margin-bottom: 10px;
}

.portfolio-wrapper, .customers-wrapper {
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.button-wrapper{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.customers{
    margin-bottom: 60px;
}

.testimonial{
    background: var(--bg);
    padding-bottom: 20px;
}

.testimonial .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin-top: 50px;
    text-align: center;
}

.review h4{
    color: #65656b
}

.get {
    margin: 60px, auto;
    width: 102%;
    padding: 50px;
    align-items: center;
}

.ctn-wrapper {
    align-items: center;
    display: flex;
    box-shadow: 4px 4px 4px 4px #9c574228;
    padding: 20px 20px;
    border-radius: 5px;
    justify-content: space-between;
}

.ctn-wrapper .ctn{
    height: 50px;
}

.ctn-wrapper .text{
    width: 80%;
}

.ctn-wrapper .text h1{
    color: var(--cor2);
    margin-bottom: 10px;
}

footer {
    padding: 60px 0;
    background-color: var(--cor1);
}

footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));  
}

footer h3, footer p, footer li {
    color: white
}

footer .col h3{
    margin-bottom: 10px;
}


footer .container .col:nth-child(1) p{
    margin: 10px auto;
}

footer .social-icons .fa{
    margin-right: 20px;
    cursor: pointer;
    font-size: 30px;
}

footer ul{
    flex-direction: column;
}

footer ul li{
    margin: 10px auto;
    cursor: pointer;
}

footer .social-icons{
    flex-direction: row;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr, .copyright{
    width: 80%;
    margin: 10px auto;
    align-items: center;
    text-align: center;
}

#me:hover{
    text-decoration: dotted;
    color: pink;
}

a{
    text-decoration: none;
    color: white;
}

.toggle{
    font-size: 30px;
    color: white;
    display: none;
    z-index: 99;
}

@media only screen and (max-width:750px){

    .toggle {
        display: block;
    }

    /*.logo img {width: 150px;}*/

    .nav-list{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--cor1);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin-top: -900px;
        transition: margin 0.5s ease-in-out;
    }

    .nav-list.active{
        margin-top: 0;
    }

    .nav-list li{
        margin: 30px auto;
    }

    .header-content{
        width: 90%;
    }

    .header-content h1{
        font-size: 2rem;
    }

    .title{
        max-width: 90%;
    }

    .grid{
        justify-content: center;
    }

    .customers-wrapper img{
        margin-top: 20px;
    }

    .ctn-wrapper{
        flex-direction: column;
    }

    .ctn-wrapper .text{
        margin-bottom: 20px;
    }

    footer .container{
        grid-template-columns: (repeat(auto-fit, minmax(150px,auto)));
    }

    footer .container .texto{
        text-align: center;
    }

    footer .col{
        margin-bottom: 30px;
    }
}
